<nav>
    <div id="nav-contain">
        <div id="nav-logo">
            >> 
            <span id="nav-logo-name">
            Norto 
            </span>
            <div id="nav-logo-path">
                [{{.URL}}]:: 
                <span class="cursor" id="nav-logo-cursor">
                </span>
            </div>
        </div>
        <div id="nav-dropdown">
            &#9776;
        </div>
        <div id="nav-links">
            <a href="">Home</a>
            <a href="">Blog</a>
            <a href="">About</a>
            <a href="">Books</a>
        </div>
    </div>
</nav>
