<nav>
    <div id="nav-contain">
        <div id="nav-logo">
            &#187;
            <span id="nav-logo-name">
            Norto 
            </span>
            <div id="nav-logo-path">
                {{$term_path := strings.TrimPrefix "/" .RelPermalink}}
                {{if gt (len $term_path) 1}}
                {{printf "[~/%s]" $term_path}}
                {{else}}
                [~]
                {{end}}:: 
                <span class="cursor" id="nav-logo-cursor">
                </span>
            </div>
        </div>
        <input type="checkbox" id="nav-toggle">
        <div id="nav-dropdown">
            <label for="nav-toggle">
            &#9776;
            </label>
        </div>
        <ul id="nav-links">
            <li><a href="">Home</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Books</a></li>
        </div>
    </div>
</nav>
