<nav>
    <div id="nav-contain">
        <div id="nav-logo">
            &#187;
            <span id="nav-logo-name">
                Brandon 
            </span>
            <div id="nav-logo-path">
                {{$term_path := strings.TrimPrefix "/" .RelPermalink}}
                {{if gt (len $term_path) 1}}
                {{printf "[~/%s]" $term_path}}
                {{else}}
                [~]
                {{end}}# 
                <span class="cursor" id="nav-logo-cursor">
                </span>
            </div>
        </div>
        <input type="checkbox" id="nav-toggle">
        <div id="nav-dropdown">
            <label for="nav-toggle">
            </label>
        </div>
        <ul id="nav-links">
            <li><a href=""><span>Home</span></a></li>
            <li><a href=""><span>Blog</span></a></li>
            <li><a href=""><span>About</span></a></li>
            <li><a href=""><span>Books</span></a></li>
        </div>
    </div>
</nav>
