// Project color palette
$color-back: #343434;
$color-text: #DFDFDF;
$color-accent: #F2B880;
$color-border: #9A7AA0;
$color-hover: #E06C9F;

// Page sizes
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
