html {
    text-rendering: optimizeLegibility;
}

body {
    font-size: 1.3rem;
    margin: 0;
}

html, 
body, 
.body-container{
    height: 100%;
}

main,
nav,
footer,
body,
html, 
.body-container {
   width: 100%;
}

.body-container {
   max-width: 50rem;
   margin: 0 auto;
   padding: 0 12px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#website-header {
  position: absolute;
  right: 2000px;
}

nav {
   display: block;
}

main {
   flex: 1;
}

footer {
   flex-shrink: 0;
}

a {
   color: inherit; 
   text-decoration: underline;
   text-decoration-color: $color-accent;

   &:focus,
   &:hover {
      color: $color-accent;
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 0 .5rem;
    font-weight: 700;
}

code, pre {
    font-size: 1rem;
}

code {
    font-family: "Courier New", Courier, monospace;
}

pre {
    padding: 1rem 1.5rem;
    border: 1px outset $color-med;
    border-radius: 5px;
    color: $color-dark;
    overflow: auto;
    word-wrap: break-word;
    display: block;
    page-break-inside: avoid;
}

em {
    font-style: italic;
}

hr { 
   border: 1px dashed $color-accent;
}

blockquote {
   border-left: 3px solid $color-accent;
   padding-left: 15px;
}

@media (prefers-color-scheme: dark) {
   body {
      background-color: $color-dark;
      color: $color-light;
   }
}

@media (prefers-color-scheme: light) {
   body {
      background-color: $color-light;
      color: $color-dark;
   }
}
