main {

  .pag {
    display: flex;
    justify-content: space-around;
  }

  .posts {
    list-style-type: none;
    margin: 25px auto 40px;
    padding: 0;
  }

  .tag-container {
    display: inline-block;
  }

  .content {
    margin-bottom: 1rem;
  }

  .post-date {
    font-style: italic;
    margin-left: 1rem;
    opacity: .5;
  }

  .taxonomy-header {
    margin-top: 1rem;
  }
  
  .tags {
    margin: 1rem;
  }

  .title,
  .post-date,
  .post-heading {
    margin-bottom: .75rem;
  }

  .footnotes {
    padding-top: 1.5rem;

    hr {
      margin-bottom: 1rem;
    }
  }

  p {
    margin: 1rem 0;
  }

  ul,
  ol,
  img {
    margin: 0 0 1rem;
  }

  sup {
    margin-left: .2rem;
  }

  pre {
    margin: 0 0 2.3rem;
  }

  img {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
  }

}
