main {

  .pag {
    display: flex;
    justify-content: space-around;
  }

  .posts {
    list-style-type: none;
    margin: 25px auto 40px;
    padding: 0;
  }

  .post-summarized {
    margin-bottom: 3rem;
  }

  .tag-container {
    display: inline-block;
  }

  .post-content {
    margin-bottom: 1rem;
  }

  .post-date {
    font-style: italic;
    opacity: .5;
  }

  .taxonomy-header {
    margin-top: 1rem;
  }
  
  .title,
  .post-heading {
    margin-bottom: .75rem;
  }

  .footnotes {
    padding-top: 1rem;

    hr {
      margin-bottom: 1rem;
    }
  }

  p {
    margin: 1.5rem 0;
  }

  p:first-child,
  .post-content-summary {
    margin: .5rem 0 1.5rem;
  }

  ol,
  img {
    margin: 0 0 1rem;
  }

  ul {
    margin: 0 0 1rem 1rem;
  }

  sup {
    margin-left: .2rem;
  }

  pre {
    margin: 0 0 1rem;
  }

  img {
    width: 100%;
    margin: 0 auto;
    border: 1px solid $color-accent;
    border-radius: 3px;
  }

  // Home Page specific styling
  .homepage-content {

    figure.brandon-image {
      border: 2px solid $color-accent;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      position: relative;
      overflow: hidden;
      margin: 1rem auto 0;
    }

    figure.brandon-image img {
      display: inline;
      margin: 0 auto;
      margin-left: -12%; //centers the image
      height: 100%;
      width: auto;
      border: none;
    }
  }
}
