// Project color palette
$color-light: #FAFAFA;
$color-dark: #292C2F;
$color-med: #989898;
$color-accent: #2B79A2;

// Custom Highlights
$highlight-major: #DAEB5C;
$highlight-minor: #F54F8D;
$highlight-patch: #FB8942;

// Page sizes
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;


