
html {
    font-size: 21px;
    font-family: "Lucida Console", Monaco, monospace;
    background-color: $color-back;
    color: $color-text;
}

body {
    margin: 0 auto;
    width: 90%;
}

a {
    text-decoration: underline dotted $color-accent;
}

a:visited {
    color: $color-text;
    text-decoration: underline dotted $color-accent;
}

