{{ if gt (len .paginator.Pages) 0 }}
  <ol class="posts">
  {{ range .paginator.Pages.ByDate.Reverse }}
    <li>
      <div class="post-summarized">
        <div class="post-heading">
          <h2 class="post-heading-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h2>
        </div>
        <div class="post-date">
          <time>{{ .Date.Format "January 2, 2006" }}</time>
        </div>
        <p class="post-content-summary">
            {{ .Summary }}
        </p>
      </div>
    </li>
  {{ end }}
  </ol>
  {{ partial "pag.html" (dict "context" . "paginator" .paginator) }}
{{ end }}
