{{ if isset .Params "tags" }}
  {{ $tagsLen := len .Params.tags }}
  {{ if gt $tagsLen 0 }}
  <div class="post-tags">
    <span>
      <span class="dot" aria-hidden="true">•</span>Related posts:
    </span>
    {{ with .Site.Params.relatedtext }}{{ . }}<br>{{ end }}
    {{ range $k, $v := .Params.tags }}
      {{ $url := printf "tags/%s" (. | urlize | lower) }}
      <div class="tag-container">
        <span class="tag-emoji" aria-hidden="true">🏷</span>
        <a class="tag-display" title="Tag {{ . | lower }}" id="tag-{{ . | lower }}" href="{{ $url | absURL }}">{{ . | title }}</a>
      </div>
      {{ if lt $k (sub $tagsLen 1) }} &middot; {{ end }}
    {{ end }}
  </div>
  {{ end }}
{{ end }}
